In [24]:
import pandas as pd 
import sqlalchemy as sa

In [32]:
mmai_db_secret = {
    "database" : "mmai_db",
    "drivername" : "mssql+pyodbc",
    "host" : "mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com",
    "port" : "1433",
    "username": "tango97",
    "password": "2024!Schulich",
    "driver": "ODBC Driver 18 for SQL Server",
    "trust_cert" : "yes"
}

In [ ]:
# Download ODBC Drivers for Windows: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16

# Download ODBC Drivers for Mac Users: https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver16

In [33]:
def create_db_engine(db_config):
    connection_url = sa.engine.URL.create(
        drivername = db_config.get("drivername"),
        username = db_config.get("username"),
        password = db_config.get("password"),
        host  = db_config.get("host"),
        port  = db_config.get("port"),
        database  = db_config.get("database"),
        query = {
            "driver" : db_config.get("driver"),
            "TrustServerCertificate": db_config.get("trust_cert")
        }
    )
    return sa.create_engine(connection_url)

In [34]:
mssql_engine = create_db_engine(mmai_db_secret)

In [35]:
with mssql_engine.connect() as connection:
    data = pd.read_sql(sql="SELECT * FROM assignment01.bakery_sales;", con=connection)

In [38]:
type(data)

pandas.core.frame.DataFrame

In [39]:
data.head()

,sale_date,sale_time,ticket_number,article,quantity,unit_price,sale_datetime
0,2021-07-17,11:26:00,189122,TRADITIONAL BAGUETTE,2,1.2,2021-07-17 11:26:00
1,2021-07-17,11:26:00,189122,MOISSON,1,2.0,2021-07-17 11:26:00
2,2021-07-17,11:26:00,189123,PAIN AU CHOCOLAT,4,1.2,2021-07-17 11:26:00
3,2021-07-17,11:26:00,189124,TRADITIONAL BAGUETTE,2,1.2,2021-07-17 11:26:00
4,2021-07-17,11:27:00,189125,TRADITIONAL BAGUETTE,1,1.2,2021-07-17 11:27:00

In [41]:
data.describe()

,ticket_number,quantity,unit_price,sale_datetime
count,234005.000000,234005.000000,234000.000000,234005
mean,219201.258738,1.538377,1.662230,2021-11-30 23:07:31.923164160
min,150040.000000,-200.000000,0.000000,2021-01-02 08:38:00
25%,184754.000000,1.000000,1.100000,2021-07-03 11:21:00
50%,218807.000000,1.000000,1.200000,2021-11-04 11:56:00
75%,253927.000000,2.000000,1.500000,2022-05-31 09:18:00
max,288913.000000,200.000000,60.000000,2022-09-30 18:56:00
std,40053.223896,1.289603,1.722721,NaN